#cabecalho {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

#p1 {
  width: 30%;
}

#p2p3 {
  width: 15%;
}

#product_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
}

#product {
  display: flex;
  justify-content: left;
  align-items: top;
  width: 30%;
}

#product img {
  width: 100px;
}

#product h3 {
  padding-left: 25px;
}

#qtd {
  width: 15%;
}

#qtd select{
  width: 75px;
  height: 30px;
  margin-bottom: 10px;
}

#qtd span {
  color: darkgray;
  font-size: 15px;
  cursor: pointer;
}

#qtd span:hover {
  font-size: 16px;
}

#valor {
  width: 15%;
}

#valor h5 {
  margin-bottom: 0;
  text-decoration: line-through;
}

#valor h2 {
  margin-top: 0;
}

#finalize {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#finalize div {
  width: 350px;
}

#finalize div button {
  background-color: #0094F6;
  width: 120px;
  height: 40px;
}