.categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
  width: 250px;
  margin-right: 25px;
}

.categoria:hover {
  background-color: #080808;
  cursor: pointer;
  scale: 110%;
}

.categoria img {
  width: 200px;
  height: 200px;
  margin-top: 5px;
  border-top: 2px dashed white;
  border-bottom: 2px dashed white;
}

.categoria p {
  padding-top: 5px;
}