#container {
  position: fixed;
  width: 50vw;
  height: 30vh;
  background-color: #121212;
  top: 15%;
  left: 30%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
}

#container div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#btn_yes {
  background-color: green;
  margin-right: 5px;
}

#btn_yes:hover {
  background-color: darkgreen;
}

#btn_no {
  background-color: red;
  margin-left: 5px;
}

#btn_no:hover {
  background-color: darkred;
}