#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  background-image: url('/images/ui/banner_background.png');
}

#banner h1 {
  font-size: 75px;
  height: 40px;
}

#banner p {
  font-size: 20px;
  padding-bottom: 200px;
}

.container {
  height: 85vh;
}

#categorias {
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;

  overflow-x: scroll;
  overflow-y: hidden;
}

#categorias div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
  width: 250px;
  margin-right: 25px;
}

#categorias div:hover {
  background-color: #080808;
  cursor: pointer;
  scale: 110%;
}

#categorias img {
  width: 200px;
  height: 200px;
  margin-top: 5px;
  border-top: 2px dashed white;
  border-bottom: 2px dashed white;
}

#categorias p {
  padding-top: 5px;
}

.produtos {
  margin-top: 50px;
  background-color: gray;
}

.produtos h3 {
  font-size: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 0;
  padding-top: 25px;
}

.produtos_container {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0;
}

.produto {
  width: 315px;
  height: 340px;
  margin-left: 10px;
  background-color: white;
  color: rgb(56, 56, 56);
  cursor: pointer;
}

.produto img {
  width: 300px;
  height: 210px;
  padding-left: 7px;
  margin-top: 5px;
}

.produto p {
  padding-left: 7px;
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: bold;
}

.produto div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 7px;
}

.produto div img {
  width: 20px;
  height: 25px;
}

.produto h2 {
  padding-left: 7px;
  margin-top: 0;
}
