#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  background-image: url('/images/ui/banner_background.png');
}

#banner h1 {
  font-size: 75px;
  height: 40px;
}

#banner p {
  font-size: 20px;
  padding-bottom: 200px;
}

.container {
  height: 85vh;
}

#categorias {
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;

  overflow-x: scroll;
  overflow-y: hidden;
}

.produtos {
  margin-top: 50px;
  background-color: gray;
}

.produtos h3 {
  font-size: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 0;
  padding-top: 25px;
}

.produtos_container {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0;
}
