#categorias_container {
  width: 100%;
}

#categorias_container button {
  margin-bottom: 10px;
}

.categoria_container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  border-bottom: 1px dashed gray;
}

.categoria_container img {
  width: 100px;
  margin-right: 25px;
}

.delete {
  background-color: #d60707;
  color: #FFF;
  border: none;
  border-radius: 4px;
  padding: 10px 8px;
  font-weight: bold;
  cursor: pointer;
  opacity: .8;
  font-size: 1em;
  margin-left: 10px;
}