#produtos_container {
  width: 100%;
}

.produto_container {
  display: flex;
  align-items: center;
  justify-content: left;
  min-height: 150px;
  border-bottom: 1px dashed gray;
}

.produto_container div {
  width: 20%;
  margin-right: 5%;
  word-wrap: break-word;
}

.produto_container img {
  width: 100px;
  margin-right: 25px;
}

.produto_container h4{
  margin-bottom: 0;
  text-decoration: line-through;
}

.produto_container h3{
  margin-top: 0;
}

.produto_container button {
  margin-right: 10px;
}
