/* pedidos */
#pedidos_container {
  width: 100%;
}

#pedidos_cabecalho {
  background-color: gray;
  display: flex;
  justify-content: left;
  align-items: center;
}

#pedidos_p1 {
  width: 50%;
  padding-left: 20px;
}

#pedidos_p2 {
  width: 30%;
  padding-left: 20px;
}

#pedidos_p3 {
  width: 20%;
  padding-left: 20px;
}

.pedido_container {
  display: flex;
  align-items: left;
  justify-content: center;
  margin-bottom: 50px;
  border-bottom: 1px solid gray;
}

.pedido_cliente {
  width: 50%;
}

.pedido_produtos {
  width: 30%;
  padding-left: 20px;
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.pedido_produtos div {
  display: flex;
  margin-bottom: 25px;
}

.pedido_produtos div img {
  width: 100px;
  margin-right: 20px;
}

#pedido_status {
  width: 20%;
}

#pedido_status h3 {
  margin-left: 15px;
}

#pedido_status form {
  width: 80%;
  height: 40px;
  padding-left: 15px;
}

#pedido_status form select {
  height: 40px;
  font-weight: 600;
}
